.scroll-to-top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #12094c;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.scroll-to-top-button:hover {
  filter: brightness(110%);
  box-shadow: 0px 0px 10px 0px #140c46;
}

.scroll-to-top-button.visible {
  opacity: 1;
}
