.gpt3__contact-text {
  font-family: var(--font-family);
}
.heading {
  color: linear-gradient(
    132deg,
    rgba(102, 73, 240, 1) 0%,
    rgba(247, 152, 181, 1) 100%
  ) !important;
  font-family: var(--font-family);
  text-align: center;
}
