.contact-headline {
  color: var(--color-subtext);
  font-family: var(--font-family);
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  font-family: var(--font-family);
  color: var(--color-subtext);
  font-size: 18px;
}
.contactInput {
  width: 400px;
  height: 40px;
}
