#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contact__headline {
  text-align: center;
  font-family: var(--font-family);
}

.gradient__text {
  background: linear-gradient(to right, #f2709c, #ff9472);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 3rem;
  margin-bottom: 2rem;
}
label {
  font-family: var(--font-family);
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: 700;
  color: var(--color-subtext);
}
input {
  color: rgb(223, 223, 223);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.contactInput {
  width: 50%;
  height: 3rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  vertical-align: top;
  line-height: 2;
  background: var(--input-bg);
}

.contact-subjectInput {
  width: 50%;
  height: 7rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  background: var(--input-bg);
}

.submitInput {
  width: 20%;
  height: 3rem;
  margin-top: 1rem;
  background-color: var(--gradient-btn-bg);
  cursor: pointer;
  color: #fff;
  border: none;
  margin-top: 20px;
  border-radius: 2.5rem;
  font-size: 20px;
}
.submitInput:hover {
  filter: brightness(110%);
  box-shadow: 0px 0px 10px 0px #140c46;
}
