.gpt3__possibility {
  display: flex;
  flex-direction: row;

  padding: 2rem;
  border: 0;
  border-radius: 25px;
  background: var(--color-footer);
  padding-top: 10px;

  /* ff 3.6+ */
  background: var(--gradient-bar);
  /* safari 5.1+,chrome 10+ */
  background: var(--gradient-bar);

  /* opera 11.10+ */
  background: var(--gradient-bar);

  /* ie 10+ */
  background: var(--gradient-bar);

  /* global 92%+ browsers support */
  background: var(--gradient-bar);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gpt3__possibility-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-right: 2rem;
}

.gpt3__possibility-image img {
  height: 100%;
  width: 90%;
  filter: drop-shadow(2px 2px 9px rgba(16, 1, 36, 0.5));
}

.gpt3__possibility-content {
  flex: 1.2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 130px;
  flex-direction: column;
}

.gpt3__possibility-content h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #c14975;
}

.gpt3__possibility-content h4:last-child {
  color: #ff8a71;
}

.gpt3__possibility-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  margin: 1rem 0;
}

.gpt3__possibility-content p {
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
  .gpt3__possibility {
    flex-direction: column;
  }

  .gpt3__possibility-image {
    margin: 1rem 0;
  }

  .gpt3__possibility-image img {
    width: unset;
    height: unset;
  }

  .gpt3__possibility-content {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .gpt3__possibility-image img {
    width: 100%;
    height: 100%;
  }
}
