/* Coolors Exported Palette - https://coolors.co/086375-190e4f-03012c */

/* CSS HEX */
--caribbean-current: #086375ff;
--federal-blue: #190e4fff;
--oxford-blue: #03012cff;

/* CSS HSL */
--caribbean-current: hsla(190, 87%, 25%, 1);
--federal-blue: hsla(250, 70%, 18%, 1);
--oxford-blue: hsla(243, 96%, 9%, 1);

/* SCSS HEX */
$caribbean-current: #086375ff;
$federal-blue: #190e4fff;
$oxford-blue: #03012cff;

/* SCSS HSL */
$caribbean-current: hsla(190, 87%, 25%, 1);
$federal-blue: hsla(250, 70%, 18%, 1);
$oxford-blue: hsla(243, 96%, 9%, 1);

/* SCSS RGB */
$caribbean-current: rgba(8, 99, 117, 1);
$federal-blue: rgba(25, 14, 79, 1);
$oxford-blue: rgba(3, 1, 44, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #086375ff, #190e4fff, #03012cff);
$gradient-right: linear-gradient(90deg, #086375ff, #190e4fff, #03012cff);
$gradient-bottom: linear-gradient(180deg, #086375ff, #190e4fff, #03012cff);
$gradient-left: linear-gradient(270deg, #086375ff, #190e4fff, #03012cff);
$gradient-top-right: linear-gradient(45deg, #086375ff, #190e4fff, #03012cff);
$gradient-bottom-right: linear-gradient(135deg, #086375ff, #190e4fff, #03012cff);
$gradient-top-left: linear-gradient(225deg, #086375ff, #190e4fff, #03012cff);
$gradient-bottom-left: linear-gradient(315deg, #086375ff, #190e4fff, #03012cff);
$gradient-radial: radial-gradient(#086375ff, #190e4fff, #03012cff);