@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --font-family: "Manrope", sans-serif;
  --button-font: "Poppins", sans-serif;

  --gradient-text: linear-gradient(
    132deg,
    rgba(102, 73, 240, 1) 0%,
    rgba(247, 152, 181, 1) 100%
  );
  --gradient-bar: linear-gradient(
    343deg,
    rgba(16, 9, 52, 1) 64%,
    rgba(3, 1, 40, 1) 100%
  );
  --gradient-btn-bg: #150d45;

  --color-bg: rgba(3, 1, 44, 1);
  --color-blog: #042c54;
  --color-text: #dcdede;
  --color-subtext: #8373e7;
  --color-footer: linear-gradient(
    11deg,
    rgba(18, 9, 76, 1) 0%,
    rgba(3, 1, 44, 1) 22%
  );
  --input-bg: #0e0831;
}
